aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.12.0
async-timeout==4.0.3
attrs==23.1.0
# backports.lzma==0.0.14
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.1
cycler==0.11.0
Flask==2.3.3
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-SocketIO==5.2.0
Flask-SQLAlchemy==3.1.1
fonttools==4.42.1
frozenlist==1.4.0
greenlet==3.0.0
gevent==23.9.1
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib==3.7.3
multidict==6.0.4
mysql-connector-python==8.1.0
numpy==1.24.4
onvif-py3==0.1.3
# opencv-python-headless==4.7.0.72
packaging==23.1
Pillow==10.0.1
protobuf==4.21.12
PyJWT==2.8.0
PyMySQL==1.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
requests==2.31.0
scipy==1.10.1
simple-websocket==1.0.0
six==1.16.0
SQLAlchemy==2.0.21
suds-passworddigest-homeassistant==0.1.2a0.dev0
suds-py3==1.4.5.0
telepot==12.7
typing_extensions==4.8.0
# ultralytics==8.0.202
urllib3==2.0.5
Werkzeug==2.3.7
wsproto==1.2.0
yarl==1.9.2
